#masthead{
  width:100%;
}

nav{
  background-color: #E398A0;
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

h1{
  font-family: "Times New Roman", Georgia, serif;
  font-size: 3.2em;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

h2{
  font-family: "Times New Roman", Georgia, serif;
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 180px;
  margin-right: 180px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:70%;
}

.caption{
  text-align: center;
  margin-top: 5px;
  font-size: 10px;
  color:grey;
}

.byline{
  font-family: "Times New Roman", Georgia, serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 20px;
  margin-left: 230px;
}

.article-text{
  font-family: Montserrat, Arial, sans-serif;
  margin-left: 230px;
  margin-right: 230px;
}

iframe{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  margin-left: 180px;
}

h3{
  font-family: "Times New Roman", Georgia, serif;
  margin-left: 230px;
  margin-top: 30px;
  font-weight: 700;
}

blockquote{
  text-align: center;
  font-style: italic;
  font-size: 24px;
  color: gray;
  margin-left: 370px;
  margin-right: 370px;
}
