nav{
  background-color: #E398A0;
  color: white;
  font-family: Montserrat, sans-serif;
  margin-top: 20px;
}

img{
  width: 100%;
  margin-top: 20px;
}

#footer{
  margin-bottom: 20px;
}

.sectionheader{
  font-size:1.5em;
  text-transform:uppercase;
  background-color: #E398A0;
  color:white;
  font-weight:900;
  margin-bottom:20px;
  width:100%;
  text-align:center;

}

.container{
  font-family: Montserrat, sans-serif;
}

.jobtitle{
  font-size: 20px;
  font-weight: 900;
}

.education-subheading{
  font-size:20px;
  font-weight:900;
  margin-left: 100px;
}

.date{
  font-style: italic;
  font-size: 18px;
}

.organization{
  font-size: 18px;
}

.jumbotron{
  color:white;
  font-family: Montserrat, sans-serif;
}

.display-4{
  font-weight: 800;
}

#buttons{
  text-align: center;
  color: #E398A0
}

#education{
  margin-left: 100px;
}

.col-md-4{
  margin-bottom: 20px;
}
